/* Mobile */
@media screen and (max-width: 739px) {
  html {
    background-color: $white-color;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
  }

  .task {
    &-header {
      gap: 52px;
      width: 100%;
    }

    &-body,
    &-list {
      width: 100%;
    }

    &-item {
      width: 370px;
      display: block;
    }

    &-content {
      margin-bottom: 13px;
    }

    &-content-heading {
      margin-right: 0px;
    }

    &-status-todo,
    &-status-inprogress,
    &-status-done {
      position: unset;
      margin-left: 0px;
    }

    &-priority {
      display: block;
      width: 100%;
      position: unset;
      padding: 0;
    }

    &-priority-heading {
      width: 47px;
      margin-right: 0px;
    }

    &-priority-desc {
      font-weight: 400;
    }

    &-icon-group {
      display: block;
      height: 62px;
      margin-bottom: 25px;
    }

    &-icon-action {
      height: unset;
    }

    &-status-btn {
      margin: 18px 0 0 0;
    }

    &-status-icon {
      margin: 15px 0;
      display: block;
    }

    &-edit-icon,
    &-delete-icon {
      margin: 0;
    }
  }

  .modal {
    &-add-edit {
      width: 370px;
      height: 391px;
      padding: 30px;
      top: 328px;
      transform: translate(-50%, 0%);
    }

    &-delete {
      width: 370px;
    }

    &-header {
      gap: 190px;
      width: 100%;
      margin-bottom: 41px;
    }

    &-input {
      width: 310px;
      padding: 14px 12.68px;
    }

    &-title-1,
    &-priority {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 399px) {
  .task {
    &-header {
      gap: 40px;
    }
  }
}
