//variables
$primary-color: #0A1629;
$blue-color: #713FFF;
$white-color: #FFF;
$gray1-color: #F0F2F5;
$gray2-color: #7D8592;
$gray3-color: #91929E;
$gray4-color: #D8E0F0;
$red-color: #F73446;
$yellow-color: #FFBD21;
$green-color: #0AC947;
$dark-color: #0A1629;
