@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
}

button,
input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 338px;
  position: relative;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 372px;
  width: 690px;
  height: 44px;
  margin: 50px 0 40px 0;
}
.task-title {
  width: 161px;
  height: 36px;
  color: #0a1629;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
}
.task-btn-add {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  padding: 13px 30px;
  border: none;
  font-family: Arial;
  border-radius: 14px;
  box-shadow: 0px 6px 12px 0px rgba(113, 63, 255, 0.25);
  background-color: #713fff;
  cursor: pointer;
}
.task-add-icon {
  width: 14px;
  height: 14px;
}
.task-add-text {
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
}
.task-body {
  width: 690px;
  display: block;
}
.task-list {
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.task-item {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 30px;
  width: 690px;
  min-height: 84px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.11);
}
.task-content {
  margin: 19px 0 23px 0;
}
.task-content-heading {
  color: #91929e;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  width: 32px;
  margin: 0 195px 0 0;
}
.task-content-desc {
  color: #0a1629;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.2px;
  margin-top: 8px;
  max-width: 166px;
  overflow-wrap: break-word;
}
.task-priority {
  padding: 22px 0 27px 0;
}
.task-mr-todo {
  margin-right: 76px;
}
.task-mr-inprogress {
  margin-right: 71px;
}
.task-mr-done {
  margin-right: 78px;
}
.task-priority-heading {
  color: #91929e;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  width: 47px;
}
.task-priority-desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: capitalize;
  margin-top: 7px;
}
.task-priority-high {
  color: #f73446;
}
.task-priority-medium {
  color: #ffbd21;
}
.task-priority-low {
  color: #0ac947;
}
.task-status-btn {
  border-radius: 8px;
  background: rgba(124, 133, 146, 0.14);
  padding: 7px 14px;
  color: #7d8592;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin-top: 28px;
  margin-bottom: 28px;
}
.task-status-todo {
  margin-right: 76px;
}
.task-status-inprogress {
  margin-right: 53px;
}
.task-status-done {
  margin-right: 77px;
}
.task-icon-group {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.task-icon-action {
  display: flex;
  gap: 20px;
  height: 100%;
}
.task-status-icon {
  margin: 30px 58px 30px 0;
  width: 22px;
  height: 22px;
}
.task-edit-icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin: 31px 0;
}
.task-delete-icon {
  cursor: pointer;
  width: 20px;
  height: 22px;
  margin: 31px 0;
}

.modal-add-edit {
  width: 560px;
  height: 401px;
  border-radius: 24px;
  background-color: #fff;
  padding: 40px 60px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.modal-delete {
  width: 560px;
  height: 222px;
  border-radius: 24px;
  background-color: #fff;
  padding: 40px 130px;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  display: none;
}
.modal-header {
  display: flex;
  gap: 320px;
  align-items: center;
  width: 440px;
  height: 36px;
  margin-bottom: 31px;
}
.modal-heading {
  color: #0a1629;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  width: 105px;
}
.modal-close-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.modal-title {
  color: #7d8592;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  width: 54px;
}
.modal-title-1 {
  margin-left: -1px;
  width: 34px;
}
.modal-input {
  width: 440px;
  height: 50px;
  border-radius: 14px;
  border: 1px solid #d8e0f0;
  padding: 14px 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #91929e;
}
.modal-input::-moz-placeholder {
  color: #91929e;
}
.modal-input::placeholder {
  color: #91929e;
}
.modal-input:focus {
  color: #91929e;
  outline: none;
}
.modal-close-icon {
  width: 15px;
  height: 15px;
}
.modal-priority {
  display: flex;
  gap: 12px;
  margin: 10px 0px 50px 2px;
}
.modal-btn-high {
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f73446;
  color: #f73446;
  padding: 7px 28.5px;
}
.modal-btn-medium {
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffbd21;
  color: #ffbd21;
  padding: 7px 15.8px;
}
.modal-btn-low {
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0ac947;
  color: #0ac947;
  padding: 7px 31px;
}
.modal-high-active {
  border: 1px solid #f73446;
  background-color: #f73446;
  color: #fff;
}
.modal-medium-active {
  border: 1px solid #ffbd21;
  background-color: #ffbd21;
  color: #fff;
}
.modal-low-active {
  border: 1px solid #0ac947;
  background-color: #0ac947;
  color: #fff;
}
.modal-btn-add {
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 30px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-left: auto;
  border: 1px solid #7d8592;
  background-color: #7d8592;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.modal-input-disabled {
  cursor: default;
  border: 1px solid #7d8592;
  background-color: #7d8592;
}
.modal-input-enabled {
  cursor: pointer;
  border: 1px solid #713fff;
  background-color: #713fff;
}
.modal-info {
  width: 300px;
  color: #0a1629;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 30px;
}
.modal-btn-group {
  display: flex;
  gap: 25px;
  width: 257px;
  height: 40px;
}
.modal-delete-btn {
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 30px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #713fff;
  background: #713fff;
  color: #fff;
  font-weight: 600;
}
.modal-cancel-btn {
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 30px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #d8e0f0;
  color: #7d8592;
  font-weight: 500;
  background-color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  cursor: pointer;
}

/* Mobile */
@media screen and (max-width: 739px) {
  html {
    background-color: #fff;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
  }
  .task-header {
    gap: 52px;
    width: 100%;
  }
  .task-body,
  .task-list {
    width: 100%;
  }
  .task-item {
    width: 370px;
    display: block;
  }
  .task-content {
    margin-bottom: 13px;
  }
  .task-content-heading {
    margin-right: 0px;
  }
  .task-status-todo,
  .task-status-inprogress,
  .task-status-done {
    position: unset;
    margin-left: 0px;
  }
  .task-priority {
    display: block;
    width: 100%;
    position: unset;
    padding: 0;
  }
  .task-priority-heading {
    width: 47px;
    margin-right: 0px;
  }
  .task-priority-desc {
    font-weight: 400;
  }
  .task-icon-group {
    display: block;
    height: 62px;
    margin-bottom: 25px;
  }
  .task-icon-action {
    height: unset;
  }
  .task-status-btn {
    margin: 18px 0 0 0;
  }
  .task-status-icon {
    margin: 15px 0;
    display: block;
  }
  .task-edit-icon,
  .task-delete-icon {
    margin: 0;
  }
  .modal-add-edit {
    width: 370px;
    height: 391px;
    padding: 30px;
    top: 328px;
    transform: translate(-50%, 0%);
  }
  .modal-delete {
    width: 370px;
  }
  .modal-header {
    gap: 190px;
    width: 100%;
    margin-bottom: 41px;
  }
  .modal-input {
    width: 310px;
    padding: 14px 12.68px;
  }
  .modal-title-1,
  .modal-priority {
    margin-left: 0;
  }
}
@media screen and (max-width: 399px) {
  .task-header {
    gap: 40px;
  }
}
