@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: #F0F2F5;
}

button,
input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 338px;
  position: absolute;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 372px;
  width: 690px;
  height: 44px;
  margin-top: 50px;
}

.task-title {
  width: 161px;
  height: 36px;
  color: #0A1629;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
}

.task-btn-add {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  padding: 13px 30px;
  border: none;
  font-family: Arial;
  border-radius: 14px;
  box-shadow: 0px 6px 12px 0px rgba(113, 63, 255, 0.25);
  background-color: #713FFF;
  cursor: pointer;
}

.task-add-icon {
  width: 14px;
  height: 14px;
}

.task-add-text {
  color: #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
}

.task-body {
  width: 690px;
  display: block;
}

.task-list {
  margin: 40px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-item {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 30px;
  width: 690px;
  min-height: 84px;
  border-radius: 24px;
  background-color: #FFF;
  box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.11);
}

.task-content-heading {
  color: #91929E;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  width: 32px;
  margin-top: 19px;
}

.task-content-desc {
  color: #0A1629;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.2px;
  margin-top: 8px;
  max-width: 166px;
  margin-bottom: 23px;
}

.task-priority {
  position: absolute;
  left: 257px;
}

.task-priority-heading {
  color: #91929E;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  margin-top: -5px;
}

.task-priority-desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: capitalize;
  margin-top: 7px;
}

.task-status-btn {
  border-radius: 8px;
  background: rgba(124, 133, 146, 0.14);
  padding: 7px 14px;
  color: #7D8592;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.task-status-todo {
  position: absolute;
  margin-left: 380px;
  left: 0;
}

.task-status-inprogress {
  position: absolute;
  margin-left: 371px;
  left: 0;
}

.task-status-done {
  position: absolute;
  margin-left: 382px;
  left: 0;
}

.task-icon-group {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.task-icon-action {
  display: flex;
}

.task-status-icon {
  margin-right: 57px;
  width: 24px;
  height: 24px;
}

.task-edit-icon {
  margin-right: 20px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.task-delete-icon {
  cursor: pointer;
  width: 20px;
  height: 22px;
}

p.task-priority-desc.task-priority-high {
  color: #F73446;
}

p.task-priority-desc.task-priority-medium {
  color: #FFBD21;
}

p.task-priority-desc.task-priority-low {
  color: #0AC947;
}

.modal-add {
  width: 560px;
  height: 401px;
  border-radius: 24px;
  background-color: #FFF;
  padding: 40px 60px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal-delete {
  width: 560px;
  height: 222px;
  border-radius: 24px;
  background-color: #FFF;
  padding: 40px 130px;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 320px;
  width: 440px;
  height: 36px;
  margin-bottom: 31px;
}

.modal-heading {
  color: #0A1629;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  width: 105px;
}

.modal-close-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.modal-title {
  color: #7D8592;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  width: 34px;
}

.modal-title-1 {
  margin-left: -1px;
}

.modal-input {
  width: 440px;
  height: 50px;
  border-radius: 14px;
  border: 1px solid #D8E0F0;
  padding: 14px 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #91929E;
}

.modal-input::-moz-placeholder {
  color: #91929E;
}

.modal-input::placeholder {
  color: #91929E;
}

.modal-input:focus {
  color: #91929E;
  outline: none;
}

.modal-close-icon {
  width: 15px;
  height: 15px;
}

.modal-priority {
  display: flex;
  gap: 12px;
  margin: 10px 0px 50px 2px;
}

.modal-btn-high {
  border-radius: 10px;
  background-color: #FFF;
  cursor: pointer;
  padding: 7px 0px;
  width: 90px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F73446;
  color: #F73446;
}

.modal-btn-medium {
  border-radius: 10px;
  background-color: #FFF;
  cursor: pointer;
  padding: 7px 0px;
  width: 90px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFBD21;
  color: #FFBD21;
}

.modal-btn-low {
  border-radius: 10px;
  background-color: #FFF;
  cursor: pointer;
  padding: 7px 0px;
  width: 90px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0AC947;
  color: #0AC947;
}

.modal-high-active {
  border: 1px solid #F73446;
  background-color: #F73446;
  color: #FFF;
}

.modal-medium-active {
  border: 1px solid #FFBD21;
  background-color: #FFBD21;
  color: #FFF;
}

.modal-low-active {
  border: 1px solid #0AC947;
  background-color: #0AC947;
  color: #FFF;
}

.modal-btn-add {
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 30px;
  text-align: center;
  height: 40px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-left: auto;
  border: 1px solid #7D8592;
  background-color: #7D8592;
  color: #FFF;
  width: 94px;
  font-weight: 600;
  font-size: 16px;
}

.modal-info {
  width: 300px;
  color: #0A1629;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 30px;
}

.modal-btn-group {
  display: flex;
  gap: 25px;
  width: 257px;
  height: 40px;
}

.modal-delete-btn {
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 30px;
  text-align: center;
  height: 40px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #713FFF;
  background: #713FFF;
  width: 114px;
  color: #FFF;
  font-weight: 600;
}

.modal-cancel-btn {
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 30px;
  text-align: center;
  height: 40px;
  font-size: 16px;
  line-height: 16px;
  width: 118px;
  border: 1px solid #D8E0F0;
  color: #7D8592;
  font-weight: 500;
  background-color: #FFF;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* Mobile */
@media screen and (max-width: 739px) {
  html {
    background-color: #FFF;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 739px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
  }

  .task-header {
    gap: 52px;
    width: 100%;
  }

  .task-body,
  .task-list {
    width: 100%;
  }

  .task-item {
    width: 370px;
    display: block;
  }

  .task-content-desc {
    margin-bottom: 0px;
  }

  .task-status-todo,
  .task-status-inprogress,
  .task-status-done {
    position: unset;
    margin-left: 0px;
  }

  .task-priority {
    display: block;
    width: 100%;
    position: unset;
  }

  .task-priority-heading {
    width: 47px;
    margin-top: 13px;
  }

  .task-icon-group {
    display: block;
    height: 82px;
    margin-bottom: 25px;
  }

  .task-status-btn {
    margin-top: 18px;
  }

  .task-status-icon {
    margin: 15px 0;
  }

  .modal-add {
    width: 370px;
    height: 391px;
    padding: 30px;
  }

  .modal-delete {
    width: 370px;
  }

  .modal-header {
    gap: 190px;
    width: 100%;
  }

  .modal-input {
    width: 310px;
  }

  .modal-title-1 {
    margin-left: 0;
  }

  .modal-priority {
    margin-left: 0;
  }
}